.form-group .input-select {

  position: relative;

  select {
    width: 100%;
    padding: 10px 26px 10px 12px;
    border: solid 1px #d9dcde;
    border-radius: 3px;
    background-color: $white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    border-top: 6px solid $wb-550;
    border-right: 4.5px solid transparent;
    border-left: 4.5px solid transparent;
  }
}

.form-check {
  display: block;
  position: relative;
  padding-left: 2rem;

  input {
    position: absolute;
    margin: .3em 0 0 -1.75rem;
  }
}