/* Topoperators / showSites */
.topoperators {
    padding: 10px;
    border: solid 1px $wb-400;
    background-color: $white;
    font-size:0.9em;
    box-shadow: 0px 11px 10px -7px $border-color;

    .title {
      padding: 12px 10px;
      background-color: #008ace;

      h2 {
        margin: 0;
        padding: 0;
        color: $white;
        font-family: $font-title;
        font-size: 22px;
      }
    }

    .header {
      color: #424242;
      background-color: #e0e0e0;
      font-family: $font-body;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }

    .tpmgt-entry {
      margin: 5px 0px;
      border: solid 1px $wb-400;
      background-color: $wb-50;
    }

    &.table {
      .rank,.name {
        display: none;
      }

      .header {
        padding: 10px 0px 10px 0;
      }
      @media (max-width: $break-xs) {
        .bonus {
          line-height: 1.2;
        }
      }
    }
  }

  .tpmgt-op .logo,
  .tpmgt-op .paygrade,
  .tpmgt-op .rating,
  .tpmgt-op .bonus,
  .tpmgt-op .actions { padding: 10px; color: #7f8c8d; }

  .tpmgt-op .bonus span { display: block; color: #7f8c8d; font-family: $font-body; font-size: 20px; line-height: 0.9; font-weight: bold; }
  .tpmgt-op .cta { margin-bottom: 5px; padding: 11px 15px; border-bottom: 2px solid #cf3200; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: $white; background: $secondary; background: -moz-linear-gradient(top, $secondary 0%, $red-100 100%); background: -webkit-linear-gradient(top, $secondary 0%, $red-100 100%); background: linear-gradient(to bottom, $secondary 0%, $red-100 100%); background-color: $secondary; font-family: $font-title; font-size: 17px; font-weight: bold; text-align: center; text-decoration: none; text-transform: uppercase; }
  .tpmgt-op .cta:hover { color: $white; background: #c23709; }
  .tpmgt-op .review { font-family: $font-body; font-size: 11px; text-transform: uppercase; }

  .payment li {
    display: inline-block; margin: 0 1px; overflow: hidden; list-style: none; white-space: nowrap; text-indent: 100%;

    &.mastercard { width: 54px; height: 30px; background: url($spritesheet) -516px -71px; }
    &.visa { width: 54px; height: 30px; background: url($spritesheet) -516px -98px; }
    &.amex { width: 64px; height: 30px; background: url($spritesheet) -512px -124px; }
    &.bitcoin { width: 80px; height: 30px; background: url($spritesheet) -504px -151px; }
    &.paypal { width: 64px; height: 30px; background: url($spritesheet) -451px -73px; }
    &.neteller { width: 64px; height: 30px; background: url($spritesheet) -451px -97px; }
  }

  .topoperators.fullwidth {
    padding: 0; border: none; box-shadow: none;

    .title { position: relative; margin: 0; padding: 15px 10px 10px 60px; border-width: 2px 2px 0 2px; border-style: solid; border-color: #dda60b; background: #f3c526; font-size: 24px; text-align: left; }
    .title::before { content: ''; position: absolute; top: 9px; left: 7px; width: 42px; height: 35px; background: url($spritesheet) -385px -979px; }
    .title h2 { color: #111111; }
    .name, .rating-text, .features, .compat, .fieldset2, .screenshots, .flag, .cta-alt { display: none; }
    .bonus .tpmgt-show, .bonus span, .cta-alt .tpmgt-show { display: inline }
    .actions { padding: 0; }
    .tpmgt-op { position: relative; height: 75px; padding: 12px 20px; border: 1px solid #b0bec5; border-top: 0; clear: both; }
    .tpmgt-show:nth-child(even) { background: #f4f7f9; }
    .tpmgt-entry { margin: 0; border: none; background: none; }

    .rank, .logo, .rating, div.review, .payment, .payspeed, .bonus, .cta { position: absolute; top: 12px; }
    .rank { left: 2%; margin-top: 4px; padding: 10px 12px 10px; border: 1px solid #b0bec5; color: $blue-800; background: $white; font-size: 20px; font-weight: bold; line-height: 1em; }
    .rank:before { content: '#' }
    .logo { display: table; top: 50%; left: 9.5%; width: 15%; height: 50px; margin-top: -25px; padding: 0; overflow: hidden; }
    .logo a { display: table-cell; vertical-align: middle; }
    .logo img { width: auto; max-width: 100%; height: auto; max-height: 100%; margin: 0 auto; }
    .rating { left: 26.5%; margin-top: 10px; padding: 0; }
    .stars-container .stars-top,
    .stars-container .stars-bottom { left: 0; }
    div.review { left: 26.5%; width: 80px; margin-top: 32px; font-family: inherit; text-align: center; }
    div.review a { display: inline; font-family: inherit; font-size: 14px; text-transform: none; }
    .payment { left: 37%; width: 30%; height: 30px; margin-top: 2px; overflow: hidden; text-align: center; }
    .payspeed { top: 50px; left: 37%; width: 30%; color: $wb-650; font-size: 12px; text-align: center; }
    .payspeed:before { content: 'Payout Speed: '; }
    .bonus { left: 65%; width: 20%; margin-top: 8px; padding: 0; color: #055f99; font-size: 15px; line-height: 1.3em; text-align: center; }
    .bonus span { color: #055f99; font-family: inherit; font-size: 18px; font-weight: bold; }
    .bonus:after { content: 'Bonus'; display: block; }
    .cta { right: 20px; width: 12%; min-width: 88px; padding: 11px; border-width: 1px 1px 2px 1px; border-style: solid; border-color: #1bab45; color: #0eaa20; background: $white; background: linear-gradient(to bottom, $white 50%, #f8f8f8 100%); background: -webkit-linear-gradient(top, $white 0%, #f8f8f8 100%); background: linear-gradient(to bottom, $white 0%, #f8f8f8 100%); }
    .cta:hover { color: $white; background: #13b732; }
    .cta-alt { text-decoration: none; }
    .cta-alt > span { display: block; padding: 11px; border-bottom: 2px solid #13631b; -moz-border-radius: 3px; border-radius: 3px; clear: both; color: $white; background: $green-200; background: -moz-linear-gradient(top, $green-200 0%, #128919 100%); background: -webkit-linear-gradient(top, $green-200 0%, #128919 100%); background: linear-gradient(to bottom, $green-200 0%, #128919 100%); font-family: $font-title; font-size: 24px; line-height: 1.3em; text-align: center; text-decoration: none; }
    .cta-alt:hover > span { background: #13b732; }

    .tpmgt-op.first {
      height: auto; margin-bottom: 46px; padding: 15px; border: 2px solid #dda60b; clear: both; background: #fffef5;

      &::after { content: 'Highest Rated Sportsbooks'; position: absolute; right: 0; bottom: -48px; left: 0; height: 46px; margin: 0 -2px; padding: 11px 10px 10px; color: $blue-800; background: #b0bec5; font-family: $font-title; font-size: 18px; font-size: 19px; text-align: center; text-transform: uppercase; }
      .rank, .payspeed, .cta { display: none }
      .logo { top: 13px; left: 6%; width: auto; max-width: 18%; height: auto; max-height: none; margin: 15px 0; }
      .rating { top: 74px; left: 7.5%; text-align: center; }
      .stars-container { width: 111px; height: 20px; }
      .stars-container .stars-top { height: 20px; background: url($spritesheet) no-repeat -103px -1006px; }
      .stars-container .stars-bottom { height: 20px; background: url($spritesheet) no-repeat -216px -1006px; }
      div.review { top: 112px; left: 6.5%; width: 133px; margin-top: 0; }
      .name { display: block; width: 34%; margin: 0 0 10px 27%; color: #111111; font-family: $font-title; font-size: 24px; }
      .features { display: block; width: 34%; margin-left: 27%; }
      .features ul { margin: 0 0 15px 14px; }
      .features li { position: relative; margin: 0 0 10px 10px; list-style: none; line-height: 17px; }
      .features li::before { content: ''; position: absolute; left: -25px; width: 16px; height: 16px; background: url($spritesheet) no-repeat; background-position: -95px -36px; }
      .payment { top: 18px; right: 20px; left: auto; width: 36%; }
      .bonus { top: 58px; right: 20px; left: auto; width: 36%; margin-top: 0; padding: 12px 10px; border: 1px solid #d8d3be; background: #fff9e0; font-family: $font-title; font-size: 24px; font-weight: bold; line-height: 1.2em; text-transform: uppercase; }
      .bonus::before { content: 'Bonus ' }
      .bonus::after { content: '' }
      .bonus span { color: inherit; font-family: inherit; font-size: inherit; }
      .cta-alt { display: block }
    }

    @media (max-width: 775px) {
      .tpmgt-op,
      .tpmgt-op.first { height: auto; padding: 15px; }
      .rank { display: none; }
      .logo { display: block; top: 20px; left: 6%; width: 48%; height: auto; margin-top: 0; text-align: center; }
      .logo a,
      .logo img { display: inline; }
      .rating { right: 2%; left: auto; width: 40%; }
      div.review { right: 2%; left: auto; width: 40%; }
      .payment { position: static; width: auto; margin: 65px 0 10px 0; }
      .payspeed { position: static; width: auto; margin-bottom: 25px; }
      .bonus { position: static; width: auto; margin-bottom: 25px; }
      .bonus:after { content: ' Bonus'; display: inline }
      .cta { position: static; width: 30%; min-width: 130px; margin: 0 auto; }

      .tpmgt-op.first {
        .logo { left: 2%; width: 38%; max-width: none; }
        .rating,
        div.review { top: 95px; left: 2%; width: 38%; }
        div.review { margin-top: 32px; }
        .name,
        .features { width: 58%; margin: 0 0 25px 42%; }
        .payment { width: auto; margin: 0 0 25px 0; }
        .bonus { width: 60%; max-width: 300px; margin: 0 auto 25px auto; }
      }
    }
    @media (max-width: 479px) {
      .tpmgt-op.first {
        .logo { width: 46% }
        .rating,
        div.review { top: 16px; right: 2%; left: auto; width: 46%; }
        .name { width: auto; margin: 65px 0 10px 0; text-align: center;}
        .features { width: auto; margin-left: 10%; }
        .bonus { width: 100%; font-size: 20px; }
      }
    }
  }
