// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 20px;
$version: '1.0.8';

// Scales
$blue-900: #263238;
$blue-800: #34495e;
$blue-700: #566473;
$blue-600: #2980b9;
$blue-500: #0085ca;
$blue-400: #3498db;
$blue-300: #00a7e5;
$blue-200: #bbdefb;
$blue-100: #e3f2fd;

$black: #000000;
$wb-900: #000105;
$wb-850: #333333;
$wb-800: #4b4b4b;
$wb-750: #555555;
$wb-700: #666666;
$wb-650: #777777;
$wb-600: #888888;
$wb-550: #999999;
$wb-500: #cccccc;
$wb-450: #d8d8d8;
$wb-400: #dbdbdb;
$wb-350: #dddddd;
$wb-300: #dbdee0;
$wb-250: #e5e5e5;
$wb-200: #eeeeee;
$wb-150: #f1f1f1;
$wb-100: #f5f5f5;
$wb-50: #fbfbfb;
$white: #ffffff;

$orange-100: #ff6900;
$red-200: #e74c3c;
$red-100: #ff3e00;

$green-400: #16a085;
$green-300: #79a70a;
$green-200: #16a61e;
$green-100: #01b169;

// Variables
$primary: $blue-300;
$secondary: $orange-100;

$dark-bg: $blue-900;
$border-color: $wb-500;

$link-color: $blue-600;
$link-hover-color: $red-200;

$font-title: 'Roboto Condensed', Arial Narrow, Arial, sans-serif;
