.betsports { margin-bottom: 25px;padding: 20px;border: 1px solid $blue-200;background: $blue-100;}
.betsports h3 { margin-bottom: 5px;color: $red-200;font-size: 24px;}
.betsports h5 { margin-bottom: 12px;padding-bottom: 12px;border-bottom: 1px dotted #90caf9;color: $wb-800;font-family: $font-body; font-size: 14px; font-weight: normal; font-style: italic;}
.betsports span { display: block;margin-bottom: 4px;font-family: $font-body; font-weight: bold; text-transform: uppercase;}
.betsports p { margin: 0;}
.betsports span.disclaim { margin: 0;clear: both; font-family: $font-body;; font-size: 12px;text-transform: none;}
.betsports ul { margin-bottom: 10px;overflow: hidden;}
.betsports ul li { float: left;margin: 0 3px 3px;list-style: none;}
.betsports .lang { float: right;width: 48%;}
.betsports .currency { float: left; width: 48%;}

.int-countries-index { margin-bottom: 20px; padding: 15px 15px 0; border: 1px solid $wb-250; clear: both; overflow: hidden; background: $wb-50; }
.int-countries-index h3 { margin: 0 0 14px; padding: 0 0 8px 0; border-bottom: 1px dotted $wb-550; font-size: 17px; text-transform: uppercase; }

.int-countries-index ul li { float: left; width: 33.33%; min-height: 27px; margin: 0 0 15px; padding: 0 10px 0 0; list-style: none; }
.int-countries-index ul li img { display: block; float: left; margin-right: 15px; }
.int-countries-index ul li span, .int-countries-index ul li > a:not(:first-child) { display: block; padding-top: 4px; overflow: hidden; }

.international-betting { margin-bottom: 15px; border: 1px solid $wb-250; background: $wb-50; }
.international-betting .int-flag { float: left; width: 150px; padding: 20px; font-size: 14px; font-weight: bold; }
.international-betting .int-flag img { display: block; max-width: 100%; height: auto; margin: 0 0 20px; }
.international-betting .int-flag span { display: block; }
.international-betting .int-flag span.debated { color: #baa035; }
.international-betting .int-flag span.regulated { color: #00af4c; }
.international-betting .int-flag span.complicated { color: $red-200; }
.international-betting .int-content { padding: 20px; border-left: 1px solid $wb-250; overflow: hidden; background: $white; }
.international-betting .int-content h3 { margin-bottom: 10px; font-size: 18px; }