/* Super Bowl Page*/
.sb-sportsbooks { margin-bottom: 15px; padding: 15px; border: 1px solid #d6cfc1; }
.sb-sportsbooks h3 { margin: -15px -15px 0; padding: 12px; border-bottom: 1px solid #d6cfc1; background: #f1e9d9; }
.sb-sportsbooks .row1 { position: relative; height: 90px; padding: 0 0 0 70px; }
.sb-sportsbooks .row1 img { max-width: 130px; height: auto; margin-top: 23px; }
.sb-sportsbooks .row1 .button-redbg { display: block; position: absolute; top: 20px; right: 0; width: 180px; font-size: 16px; }
.sb-sportsbooks .row1::before { content: '';position: absolute; top: 18px; left: 0; width: 49px; height: 55px; background: url($spritesheet) -544px -182px; }
.sb-sportsbooks .row2 { margin-bottom: 15px; padding: 15px 0; border-top: 1px dotted $wb-350; border-bottom: 1px dotted $wb-350; }
.sb-sportsbooks .row2 ul { padding: 0 0 0 10px; }
.sb-sportsbooks .row2 li { position: relative;margin: 0 0 5px;padding: 0 10px 0 20px;list-style: none;color: $blue-600; font-weight: bold;}
.sb-sportsbooks .row2 li:last-child { margin: 0;}
.sb-sportsbooks .row2 li::before { content: ''; position: absolute; top: 6px; left: 0; width: 7px; height: 7px; background: url($spritesheet) -131px -9px; }
.sb-sportsbooks .row3 { padding: 10px 0; }

/* Deposit Withdrawals Page */
.processing-report { margin-bottom: 20px; padding: 20px; border: 1px solid $blue-200; }
.processing-report h4 { margin: -20px -20px 20px; padding: 15px; border-bottom: 1px solid $blue-200; color: $blue-400; background: $blue-100; font-size: 18px; text-transform: uppercase; }
.contact-box { margin-bottom: 20px; border: 1px solid $blue-200; overflow: hidden; background: $blue-100; }
.contact-box .iconarea { float: left; width: 180px; padding: 15px; }
.contact-box .iconarea img { display: block; max-width: 100%; height: auto; margin: 0 auto;}
.contact-box .emailadd { padding: 15px 20px; border-left: 1px solid $blue-200; overflow: hidden; background: $white; font-size: 24px; font-weight: bold; }

/* Addiction Map */
.map-wrap { width: 100%; height: 450px; margin-bottom: 15px; }
.addiction-map { width: 100%; height: 100%; }