/* Timeline-List */
ul.timeline-list { margin: 0 0 20px; border: solid 1px $wb-250; list-style: none; background-color: $wb-50;}
ul.timeline-list li { display: table; width: 100%; margin: 0; padding: 15px; border-bottom: solid 1px $wb-250;}
ul.timeline-list li::before { content: initial;background: none;}
ul.timeline-list li:last-child { border-bottom: none; }
.timeline-list .year { display: table-cell; vertical-align: middle; width: 10%; color: $blue-400; font-family: $font-body; font-size: 14px; font-weight: bold; text-align: center; }
.timeline-list .year .inner { padding: 7px 20px 4px 0;border-right: solid 2px $blue-400; }
.timeline-list .desc { display: table-cell; vertical-align: middle; width: 90%; padding: 0px 10px; font-size: 13px;}
.timeline-list p { margin: 0px; padding: 0px; }

/* Network Timeline */
.network-timeline { margin-bottom: 25px; padding: 30px 20px 20px; border: 1px solid $wb-250; color: $wb-700; background: #f6f6f6 url('/bgtimeline.jpg') no-repeat; background-size: cover; }
.network-timeline p { margin: 0;}
.network-timeline-button { display: block; width: 260px; height: 40px; margin: 0 auto; color: $white; background: #039be5; font-weight: bold; line-height: 40px; text-align: center;}
.network-timeline-box { position: relative;overflow: hidden;}
.network-timeline-box::before { content: ""; position: absolute; top: 0; left: 50%; width: 2px; height: 100%; background: $blue-400;}
.network-timeline-boxleft { float: left; width: 50%; padding-top: 56px; }
.network-timeline-boxright { float: left; width: 50%; padding-top: 26px;}
.network-timeline-boxleft .timeline-datearea { position: relative; padding: 0 25px 10px 10px; }
.network-timeline-boxleft .timeline-datearea::before { content: ""; position: absolute; top: 6px; right: 0px; width: 11px; height: 15px; background: url($spritesheet) no-repeat; background-position: -310px -17px;}
.network-timeline-boxright .timeline-datearea { position: relative;; padding: 0 10px 10px 25px;}
.network-timeline-boxright .timeline-datearea::before { content: ""; position: absolute; top: 6px; left: 0px; width: 11px; height: 15px; background: url($spritesheet) no-repeat; background-position: -325px -17px;}
.timeline-date { color: #039be5; font-family: $font-title; font-size: 22px; font-weight: bold;}
.network-timeline-boxright .timeline-date { display: block; float: left; margin-right: 15px;}
.network-timeline-boxleft .timeline-date { display: block; float: right; margin-left: 15px;}
.timeline-eventtitle { display: block; margin-bottom: 5px; padding-top: 8px; color: $blue-800; font-family: $font-title; font-size: 16px; font-weight: bold;line-height: 1.1em;}
.network-timeline-boxleft .timeline-eventtitle { text-align: right;}
p.timeline-content { min-height: 55px; margin: 0; clear: both; font-size: 13px; line-height: 1.4em;}
.network-timeline-boxleft p.timeline-content { text-align: right;}
.timeline-now { display: block; width: 80px; height: 80px; margin: 0 auto 10px; -moz-border-radius: 80px; border-radius: 80px; color: $white; background: $blue-400; font-size: 22px; font-weight: bold; line-height: 80px; text-align: center; text-transform: uppercase;}
.network-timeline h4 { color: $blue-800; font-family: $font-title; font-size: 18px; font-weight: bold; text-align: center;}
.network-timeline-text { font-size: 13px; line-height: 1.4em; text-align: center;}
.network-timeline-text p { margin-bottom: 16px;}

.bettingsteps {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid $wb-250;
  background: $wb-150;
  font-size:0.9em;

  &.payoutgrades {
    padding: 5px;
  }

  .heading.icon-steps {
    margin-left: 32px;
  }
}

.topnflsportsbooks { margin-bottom: 20px; padding: 20px 20px 5px; border: 1px solid #dedede; background: $wb-100; font-size:0.9em; box-shadow: 0 1px 10px -3px $border-color;}
.topnflsportsbooks .col1, .topnflsportsbooks .col2 { display: inline-block; vertical-align: top;width: 49%; padding: 15px 0 10px; }
.topnflsportsbooks .col1 { padding-right: 15px;}
.topnflsportsbooks .col2 { padding-left: 15px; border-left: 1px dashed $wb-550;}
.topnflsportsbooks figure { min-height: 80px;}
.topnflsportsbooks img { display: block; display: block; max-width: 100%; height: auto; margin: 0 auto;}
.topnflsportsbooks a.roundbutton { display: block; width: 90%; margin: 0 auto 10px; padding: 10px 5px 8px; border-bottom: 2px solid #cc5833;-moz-border-radius: 30px; border-radius: 30px; color: $white; background: #ff6e40; font-family: $font-title;font-size: 18px; text-align: center; text-decoration: none; text-transform: uppercase;}
.topnflsportsbooks ul.greencheck { margin: 0 0 25px 22px;}
.topnflsportsbooks ul.greencheck li::before { content: ""; left: -29px;}
.topnflsportsbooks ul.greencheck li { line-height: 17px;}
