.betonsports { margin-bottom: 20px; padding: 20px 20px 0;border: 1px solid $wb-250; clear: both; overflow: hidden; background: #f3f3f3;}
.betonsports h2 { position: relative;padding: 0 0 10px 50px;border-bottom: 1px dotted #bbbbbb;font-size: 17px;text-transform: uppercase;}
.betonsports h2:before { content: ''; position: absolute; top: -12px; left: 0;width: 36px; height: 36px;background: url($spritesheet) no-repeat -208px -204px;}
.betonsports li { float: left; width: 48.5%;margin-bottom: 15px; list-style: none;}
.betonsports li:nth-child(odd) { margin-right: 3%;}
.betonsports li a { display: block;width: 100%;height: 100px;padding: 30px 20px 10px 140px;-moz-border-radius: 5px;border-radius: 6px; background: #006699;text-decoration: none; }
.betonsports span { display: block; font-weight: bold; text-transform: uppercase;}
.betonsports a span.sport { padding-bottom: 4px; color: #fee801; font-family: $font-title; font-size: 17px; line-height: 1.1em;}
.betonsports a span.more { color: $white; font-size: 11px;text-align: right;text-decoration: underline;}
.betonsports li a:hover span.more { text-decoration: none;}
.betonsports li a.nfl { background: url('/nflstrategy.png') no-repeat; background-size: cover;}
.betonsports li a.mlb { background: url('/mlbstrategy.png') no-repeat; background-size: cover;}
.betonsports li a.nba { background: url('/nbsstrategy.png') no-repeat; background-size: cover;}
.betonsports li a.nhl { background: url('/nhlstrategy.png') no-repeat; background-size: cover;}
.betonsports li a.ncaabb { background: url('/ncaabbstrat.png') no-repeat; background-size: cover;}
.betonsports li a.ncaafb { background: url('/footballstrategy.png') no-repeat; background-size: cover;}
